{:AL1 [{:allergen_code_mnemonic_description {:code "NONE", :text "NONE"},
        :allergen_type_code {:code "FA"},
        :set_id "1"}],
 :EVN {:event_type_code "A04",
       :operator_id [{:id "NURSE"}],
       :recorded_datetime {:time "20090123204846"}},
 :GT1
   [{:guarantor_address [{:city "TUJUNGA",
                          :postal_code "91042",
                          :state "CA",
                          :street {:text "9166 TUJUNGA CANYON"},
                          :text "(OAKVIEW CONV)"}],
     :guarantor_birth_date {:time "19220104"},
     :guarantor_employer_address [{:postal_code "00000"}],
     :guarantor_employer_id_number [{:id "03496"}],
     :guarantor_employer_name [{:family {:surname "RETIRED"}}],
     :guarantor_gender "F",
     :guarantor_home_phone [{:phone "(818)352-4426"}],
     :guarantor_marital_status_code {:code "W"},
     :guarantor_name [{:family {:surname "ROSTA"}, :given "LIND"}],
     :guarantor_number [{:authority {:ns "MS4"}, :id "010229619", :type "PN"}],
     :guarantor_race [{:code "P"}],
     :guarantor_relationship {:code "A"},
     :guarantor_spouse_name [{:family {:surname "HOVANESSIAN"},
                              :given "ANOOSH"}],
     :guarantor_ssn "602-48-3568",
     :job_title "RETIRED",
     :publicity_code {:code "Y"},
     :religion {:code "OTH"},
     :set_id "1"}],
 :MSH {:app {:ns "MS4ADT"},
       :datetime {:time "20090123204848"},
       :encoding "^~\\&",
       :facility {:ns "001"},
       :id "00000000008186653",
       :proc_id {:proc_id "P"},
       :receiving_app {:ns "UST"},
       :receiving_facility {:ns "001"},
       :separator "|",
       :type {:code "ADT", :event "A04"},
       :version {:id "2.3"}},
 :NK1
   [{:address [{:city "SUNLAND",
                :postal_code "91040",
                :state "CA",
                :street {:text "3903 HILLROSE"}}],
     :contact_person_social_security_number "          1",
     :contact_role {:code "S"},
     :gender "F",
     :marital_status {:code "S"},
     :name [{:family {:surname "HOVANESSIAN"}, :given "ANOOSH"}],
     :next_of_kin_associated_party_identifiers
       [{:authority {:ns "MS4"}, :id "000144189", :type "PN"}],
     :organization_name_nk1 [{:name "UNKNOWN"}],
     :phone_number [{:phone "(818)951-1263"}],
     :race [{:code "C"}],
     :relationship {:code "J"},
     :religion {:code "NON"},
     :set_id "1"}],
 :PID {:account_number {:authority {:ns "MS4001"},
                        :facility {:ns "001"},
                        :id "00016604383",
                        :type "AN"},
       :address [{:city "TUJUNGA",
                  :postal_code "91042",
                  :state "CA",
                  :street {:text "9166 TUJUNGA CANYON"},
                  :text "(OAKVIEW CONV)"}],
       :alternate_id [{:authority {:ns "MS4"},
                       :facility {:ns "001"},
                       :id "13-XX-68",
                       :type "MR"}],
       :birth_date {:time "19220104"},
       :gender "F",
       :home_phone [{:phone "(818)352-4426"}],
       :identifiers [{:authority {:ns "MS4"},
                      :facility {:ns "001"},
                      :id "13-XX-68",
                      :type "MR"}],
       :marital_status {:code "W"},
       :name [{:family {:surname "ROSTA"}, :given "LINDA"}],
       :patient_id {:authority {:ns "MS4"}, :id "01619", :type "PN"},
       :primary_language {:code " 31"},
       :race [{:code "P"}],
       :religion {:code "OTH"},
       :set_id "1",
       :ssn_number "602-48-3568"},
 :PV1 {:admission_type "1",
       :admit_datetime {:time "200901192300"},
       :admit_source "3",
       :assigned_patient_location {:bed " A",
                                   :facility {:ns "001"},
                                   :location_status "OCCPD",
                                   :point_of_care "ICU5",
                                   :room "T589"},
       :attending_doctor [{:degree "MD",
                           :family {:surname "PARTAMIAN"},
                           :given "LEON",
                           :id "20131",
                           :initials "N"}],
       :bed_status "OCCPD",
       :charge_price_indicator "3",
       :current_patient_balance "46141.20",
       :financial_class [{:financial_class_code "0401"}],
       :hospital_service "MED",
       :patient_class "I",
       :patient_type "I",
       :servicing_facility "001",
       :total_charges "46141.20"},
 :insurance
   [{:IN1 {:coord_of_ben_priority "1",
           :insurance_company_address [{}],
           :insurance_company_id [{:id "0401"}],
           :insurance_company_name [{:name "MEDICARE I/P"}],
           :insured_address [{:city "TUJUNGA",
                              :postal_code "91042",
                              :state "CA",
                              :street {:text "9166 TUJUNGA CANYON"},
                              :text "(OAKVIEW CONV)"}],
           :insured_date_of_birth {:time "19220104"},
           :insured_employer_address [{:postal_code "00000"}],
           :insured_gender "F",
           :insured_id_number [{:id "010229619"}],
           :insured_relationship_to_patient {:code "A"},
           :name_of_insured [{:family {:surname "ROSTAMIAN"}, :given "LIDA"}],
           :plan_effective_date "19990201",
           :plan_type "MCR",
           :policy_number "602483568M",
           :set_id "1",
           :verification_status "Y"},
     :IN2 {:insured_employer_name_and_id [{:family {:surname "RETIRED"},
                                           :id "03496"}],
           :insured_home_phone [{:phone "(818)352-4426"}],
           :insured_social_security_number "602483568",
           :job_title "RETIRED",
           :marital_status [{:code "W"}],
           :medicare_health_ins_card_number "602483568M",
           :publicity_code {:code "Y"},
           :race [{:code "P"}],
           :religion {:code "OTH"}}}
    {:IN1 {:coord_of_ben_priority "2",
           :insurance_company_address [{:city "SACRAMENTO",
                                        :postal_code "95851-1600",
                                        :state "CA",
                                        :street {:text "P.O. BOX 15600"}}],
           :insurance_company_id [{:id "0304"}],
           :insurance_company_name [{:name "MEDI-CAL SECONDARY"}],
           :insured_address [{:city "TUJUNGA",
                              :postal_code "91042",
                              :state "CA",
                              :street {:text "9166 TUJUNGA CANYON"},
                              :text "(OAKVIEW CONV)"}],
           :insured_date_of_birth {:time "19220104"},
           :insured_employer_address [{:postal_code "00000"}],
           :insured_gender "F",
           :insured_id_number [{:id "010229619"}],
           :insured_relationship_to_patient {:code "A"},
           :name_of_insured [{:family {:surname "ROSTAMIAN"}, :given "LIDA"}],
           :plan_effective_date "19940501",
           :plan_type "MCD",
           :policy_number "93202354A45061",
           :set_id "2",
           :verification_status "N"},
     :IN2 {:insured_employer_name_and_id [{:family {:surname "RETIRED"},
                                           :id "03496"}],
           :insured_home_phone [{:phone "(818)352-4426"}],
           :insured_social_security_number "602483568",
           :job_title "RETIRED",
           :marital_status [{:code "W"}],
           :medicaid_case_number "93202354A45061",
           :publicity_code {:code "Y"},
           :race [{:code "P"}],
           :religion {:code "OTH"}}}]}