{:DG1 [{:diagnosis_code_dg1 {:display "specimen paclab"},
        :diagnosis_description "specimen paclab",
        :set_id "1"}],
 :EVN {:event_occurred {:time "2017-07-26T07:53:00"},
       :event_reason_code "ADT_EVENT",
       :event_type_code "A04",
       :operator_id [{:authority {:ns "PHSWM"},
                      :facility {:ns "wsp"},
                      :family {:surname "THOMPSON"},
                      :given "LORI"}],
       :recorded_datetime {:time "2017-07-26T07:53:41"}},
 :GT1
   [{:address [{:city "WESTBOROUGH",
                :country "USA",
                :county "WORCESTER",
                :postal_code "01581",
                :state "MA",
                :street {:text "567 TURNPIKE ROAD, SUITE 204"}}],
     :birth_date {:time "1951-01-16"},
     :gender "F",
     :home_phone
       [{:area_city "456", :local_number "4804904", :phone "(456)480-4904"}],
     :identifiers [{:id "585"}],
     :name [{:family {:surname "CLARKE"}, :given "BETHANY"}],
     :relationship {:code "SLF"},
     :set_id "1",
     :type "P/F"}],
 :MSH {:app {:ns "EPIC"},
       :datetime {:time "2017-07-26T07:53:41"},
       :encoding "^~\\&",
       :facility {:ns "WAMT"},
       :id "145307",
       :proc_id {:proc_id "T"},
       :receiving_facility {:ns "ADT_EVENT"},
       :security "P296798",
       :separator "|",
       :type {:code "ADT", :event "A04"},
       :version {:id "2.3"}},
 :OBX [{:set_id "1",
        :status "F",
        :sub_id "1",
        :type {:code "PRICSN"},
        :value ["10000170987"],
        :value_type "NM"}],
 :PD1 {:patient_primary_facility [{:id "304121",
                                   :name "WSP PROVIDENCE ST PETER HOSPITAL"}]},
 :PID {:account_number {:id "10000170987"},
       :address [{:city "WESTBOROUGH",
                  :country "USA",
                  :county "WORCESTER",
                  :postal_code "01581",
                  :state "MA",
                  :street {:text "114 TURNPIKE ROAD, SUITE 204"},
                  :type "P"}],
       :birth_date {:time "1951-01-16"},
       :county_code "WORCESTER",
       :death_indicator "N",
       :gender "F",
       :home_phone [{:area_city "456",
                     :local_number "4804904",
                     :phone "(456)480-4904",
                     :type "H",
                     :use "P"}],
       :identifiers
         [{:id "E792", :type "EPI"}
          {:authority {:ns "WAMT MRN"}, :id "60000019441", :type "WAMT MRN"}],
       :name [{:family {:surname "CLARKE"}, :given "BETHANY"}],
       :set_id "1"},
 :PV1 {:admission_type "EL",
       :admit_datetime {:time "2017-07-26T07:53:00"},
       :admit_source "2",
       :alternate_visit_id {:id "330000737225"},
       :assigned_patient_location {:facility {:ns "WSP"},
                                   :point_of_care "WSPLBCLN"},
       :attending_doctor [{:authority {:ns "EPIC"},
                           :family {:surname "DICKERSON"},
                           :given "VERONICA",
                           :id "1043383136",
                           :id_type "PNPI",
                           :initials "M"}
                          {:authority {:ns "WAMT STAR C SER"},
                           :family {:surname "DICKERSON"},
                           :given "VERONICA",
                           :id "140230",
                           :id_type "WAMT STAR C SER",
                           :initials "M"}
                          {:authority {:ns "WAMT STAR O SER"},
                           :family {:surname "DICKERSON"},
                           :given "VERONICA",
                           :id "202781",
                           :id_type "WAMT STAR O SER",
                           :initials "M"}
                          {:authority {:ns "CL CENT SER"},
                           :family {:surname "DICKERSON"},
                           :given "VERONICA",
                           :id "32217",
                           :id_type "CL CENT SER",
                           :initials "M"}
                          {:authority {:ns "PROVPID"},
                           :family {:surname "DICKERSON"},
                           :given "VERONICA",
                           :id "1049669",
                           :id_type "PPID",
                           :initials "M"}],
       :financial_class [{:financial_class_code "SELF"}],
       :hospital_service "LABORATORY",
       :patient_class "SPECIMEN",
       :set_id "1",
       :visit_number {:id "10000170987"}},
 :PV2 {:expected_admit_datetime {:time "2017-07-26"},
       :visit_description "Hospital Encounter",
       :visit_protection_indicator "N"},
 :ZG1 [{:zg1_four "30"}]}