{:MSH {nil "BOTH",
       :app {:ns "EPICREG"},
       :datetime {:time "20170726102215"},
       :encoding "^~\\&",
       :facility {:ns "SMC"},
       :id "107617",
       :proc_id {:proc_id "T"},
       :receiving_app {:ns "INTFENG"},
       :receiving_facility {:ns "SMC"},
       :security "BARLLH1",
       :separator "|",
       :type {:code "ADT", :event "A04"},
       :version {:id "2.3"}}}