{:MSH {nil "C",
       :accept_acknowledgment_type "\r\nEVN",
       :application_acknowledgment_type "A01",
       :control_id "599102",
       :country_code "20151010045502",
       :datetime {:time "20151015200643"},
       :encoding "^~\\&",
       :processing_id {:processing_id "P"},
       :sending_application {:namespace_id "AccMgr"},
       :sending_facility {:namespace_id "1"},
       :separator "|",
       :sequence_number "foo",
       :type {:code "ADT", :event "A01"},
       :version_id {:version_id "2.3"}}}