{:CON [{:consent_type {:code "Ins Card"}, :set_id "1"}
       {:consent_type {:code "Photo ID"}, :set_id "2"}
       {:consent_status {:code "NOT RECV"},
        :consent_type {:code "ADV DIR"},
        :set_id "3"}
       {:consent_status {:code "NOT RECV"},
        :consent_type {:code "POA"},
        :set_id "4"}
       {:consent_status {:code "NOT RECV"},
        :consent_type {:code "HIPAA NOP"},
        :set_id "5"}
       {:consent_status {:code "NOT RECV"},
        :consent_type {:code "Auth Finance"},
        :set_id "6"}
       {:consent_status {:code "NOT RECV"},
        :consent_type {:code "JHC HIPAA"},
        :set_id "7"}
       {:consent_status {:code "NOT RECV"},
        :consent_type {:code "JHC PhysCon"},
        :set_id "8"}],
 :EVN {:event_reason_code "AS_AFTER_CHECK_IN",
       :event_type_code "A04",
       :operator_id [{:authority {:ns "JHC"},
                      :facility {:ns "JHCCC"},
                      :family {:surname "DYER"},
                      :given "ADRIANNA",
                      :initials "R"}],
       :recorded_datetime {:time "20170807152032"}},
 :GT1
   [{:address [{:city "CLARKSVILLE",
                :country "USA",
                :county "CLARKSVILLE",
                :postal_code "37040",
                :state "TN",
                :street {:text "642 MELON AVE"}}],
     :birth_date {:time "19870603"},
     :employer_address [{:country "USA"}],
     :employment_status "UNKNOWN",
     :gender "M",
     :home_phone
       [{:area_city "785", :local_number "2546658", :phone "(785)254-6658"}],
     :identifiers [{:id "2514"}],
     :name [{:family {:surname "ORCASRC"}, :given "TESTSIX"}],
     :relationship {:code "SLF"},
     :set_id "1",
     :ssn "558-47-2896",
     :type "P/F"}],
 :MSH {:app {:ns "VITAEHR"},
       :datetime {:time "20170807134552"},
       :encoding "^~\\&",
       :facility {:ns "ORCA"},
       :id "541642",
       :proc_id {:proc_id "T"},
       :receiving_facility {:ns "AS_AFTER_CHECK_IN"},
       :security "D454345",
       :separator "|",
       :type {:code "ADT", :event "A04"},
       :version {:id "2.3"}},
 :PD1 {:patient_primary_facility
         [{:id "945764", :name "CJN FORESIGHT SAINT THOMAS HEALTH CENTER"}]},
 :PID {:account_number {:id "97646500222"},
       :address [{:city "CLARKSVILLE",
                  :country "USA",
                  :county "CLARKSVILLE",
                  :postal_code "37040",
                  :state "TN",
                  :street {:text "642 MELON AVE"},
                  :type "P"}],
       :birth_date {:time "19870603"},
       :county_code "CLARKSVILLE",
       :death_indicator "N",
       :gender "M",
       :home_phone [{:area_city "785",
                     :local_number "2546658",
                     :phone "(785)254-6658",
                     :type "H",
                     :use "P"}],
       :identifiers
         [{:id "F8457", :type "VIT"}
          {:authority {:ns "ORCA MRN"}, :id "30054054558", :type "ORCA MRN"}],
       :name [{:family {:surname "ORCASRC"}, :given "TESTSIX"}],
       :set_id "1",
       :ssn_number "558-47-2896"},
 :PV1 {:admit_datetime {:time "20170807121901"},
       :assigned_patient_location {:facility {:ns "JHCCC"},
                                   :point_of_care "JHCCC IM"},
       :attending_doctor [{:authority {:ns "VITAEHR"},
                           :family {:surname "SAWYER"},
                           :given "BILL",
                           :id "2767546247",
                           :id_type "PNPI"}
                          {:authority
                             {:ns "MUSKOGEE REG MED CTR HOME HEALTH SER"},
                           :family {:surname "SAWYER"},
                           :given "BILL",
                           :id "SAWYERB",
                           :id_type "MUSKOGEE REG MED CTR HOME HEALTH SER"}
                          {:authority {:ns "VITAPID"},
                           :family {:surname "SAWYER"},
                           :given "BILL",
                           :id "6154544",
                           :id_type "PPID"}],
       :financial_class [{:financial_class_code "SELF"}],
       :patient_class "O",
       :set_id "1",
       :visit_number {:id "97646500222"}},
 :PV2 {:expected_admit_datetime {:time "20170807171615"},
       :visit_description "Appointment",
       :visit_protection_indicator "N"},
 :ZG1 [{:zg1_four "36"} {:zg1_four "37"} {:zg1_four "38"} {:zg1_four "39"}
       {:zg1_four "40"}],
 :ZPD {:zpd4 "PT DECLINED",
       :zpd6 "PHS TENNESSEY^^78~NORTH COAST MEDICAL FOUNDATION INC^^36",
       :zpd7 "N"}}