{:EVN {:event_type_code "A01", :recorded_datetime {:time "20151010045502"}},
 :GT1
   [{:address [{:city "MONTROSE",
                :country "USA",
                :postal_code "91214",
                :state "CA",
                :street {:text "2820 SYCAMORE AVE"},
                :text "TWELVE OAKS LODGE"}],
     :birth_date {:time "19301013"},
     :death_datetime {:time "20130711"},
     :employer_address [{:postal_code "00000"}],
     :employer_id [{:id "0000007496"}],
     :employer_name [{:family {:surname "RETIRED"}}],
     :gender "F",
     :home_phone [{:phone "(818)111-3361"}],
     :identifiers [{:authority {:ns "MS4"}, :id "010107127", :type "PN"}],
     :job_title "RETIRED",
     :marital_status {:code "W"},
     :name [{:family {:surname "BARRETT"}, :given "JEAN", :initials "S"}],
     :publicity {:code "Y"},
     :race [{:code "C"}],
     :relationship {:code "A"},
     :religion {:code "CHR"},
     :set_id "1",
     :spouse_name
       [{:family {:surname "BARRETT"}, :given "LAWRENCE", :initials "E"}],
     :ssn "354-22-1840"}],
 :MSH {:app {:ns "AccMgr"},
       :datetime {:time "20151015200643"},
       :encoding "^~\\&",
       :facility {:ns "1"},
       :id "599102",
       :proc_id {:proc_id "P"},
       :separator "|",
       :seqnum "foo",
       :type {:code "ADT", :event "A01"},
       :version {:id "2.3"}},
 :PID {:account_number {:authority {:ns "MS4001"},
                        :facility {:ns "001"},
                        :id "111155555550",
                        :type "AN"},
       :address [{:city "ALBUKERKA",
                  :country "USA",
                  :postal_code "98765",
                  :state "CA",
                  :street {:text "STRAWBERRY AVE"},
                  :text "FOUR OAKS LODGE"}],
       :alternate_id [{:authority {:ns "MS4"},
                       :facility {:ns "001"},
                       :id "1609220",
                       :type "MR"}],
       :birth_date {:time "19440823"},
       :birth_place "OKLAHOMA",
       :death_indicator "N",
       :gender "F",
       :home_phone [{:phone "(111)222-3333"}],
       :identifiers [{:authority {:ns "MS4"},
                      :facility {:ns "001"},
                      :id "1609220",
                      :type "MR"}],
       :marital_status {:code "W"},
       :name [{:family {:surname "BARRETT"}, :given "JEAN", :initials "SANDY"}],
       :patient_id {:authority {:ns "MS4"}, :id "010107111", :type "PN"},
       :primary_language {:code "ENG"},
       :race [{:code "C"}],
       :religion {:code "CHR"},
       :set_id "1",
       :ssn_number "123-22-1111"},
 :PV1 {:account_status "G",
       :admission_type "3",
       :admit_datetime {:time "20050110045253"},
       :admit_source "1",
       :admitting_doctor [{:facility {:ns "CI"},
                           :family {:surname "REID"},
                           :given "TIMOTHY",
                           :id "37",
                           :initials "Q",
                           :name_type "AccMgr"}],
       :assigned_patient_location {:bed "1",
                                   :building "S",
                                   :facility {:ns "1"},
                                   :point_of_care "PREOP",
                                   :room "101"},
       :attending_doctor [{:facility {:ns "CI"},
                           :family {:surname "REID"},
                           :given "TIMOTHY",
                           :id "37",
                           :initials "Q",
                           :name_type "AccMgr"}],
       :financial_class [{:financial_class_code "4"}],
       :hospital_service "01",
       :patient_class "I",
       :patient_type "2",
       :servicing_facility "1",
       :set_id "1",
       :visit_number {:authority {:ns "AccMgr"}, :id "40007716", :type "VN"}},
 :insurance
   [{:IN1 {:authorization_info {:number "MCR"},
           :beneficiary_birthDate {nil "USA",
                                   :precision "TWELVE OAKS LODGE",
                                   :time "2820 SYCAMORE AVE"},
           :beneficiary_gender "^^^^00000^",
           :beneficiary_name [{:family {:surname "A"}}],
           :benifits_coordination "1",
           :class_type "354221840A",
           :employer_address [{:street {:text "N"}}],
           :employment_status {:code "F"},
           :group_emp_name [{:name "19951001"}],
           :handicap "010107127",
           :identifier_type {:code "0423"},
           :payor_organization_identifier_value [{:id "MEDICARE IP"}],
           :relationship_to_patient {:code "19301013"},
           :set_id "1",
           :type "BARRETT^JEAN^S^^"},
     :IN2 {:employer_name [{:family {:surname "RETIRED"}, :id "0000007496"}],
           :home_phone [{:phone "(818)249-3361"}],
           :job_title "RETIRED",
           :marital_status [{:code "W"}],
           :medicare_id "354221840A",
           :publicity {:code "Y"},
           :race [{:code "C"}],
           :religion {:code "CHR"},
           :ssn "354221840"}}
    {:IN1 {:beneficiary_address [{:city "MONTROSE",
                                  :country "USA",
                                  :postal_code "91214",
                                  :state "CA",
                                  :street {:text "2820 SYCAMORE AVE"},
                                  :text "TWELVE OAKS LODGE"}],
           :beneficiary_birthDate {:time "19301013"},
           :beneficiary_gender "F",
           :beneficiary_name
             [{:family {:surname "BARRETT"}, :given "JEAN", :initials "S"}],
           :benifits_coordination_priority "2",
           :contract_identifier "811001556",
           :employer_address [{:postal_code "00000"}],
           :group_name [{:name "RETIRED"}],
           :group_number "081140101400020",
           :identifier_type {:code "0423"},
           :payor_organization_address [{:city "LEXINGTON",
                                         :postal_code "40512",
                                         :state "KY",
                                         :street {:text "PO BOX 14079"},
                                         :text "PO BOX 14079"}],
           :payor_organization_identifier_value [{:id "2304"}],
           :payor_organization_name [{:name "AETNA PPO"}],
           :period_start "20130101",
           :relationship_to_patient {:code "A"},
           :set_id "2",
           :subscribrId [{:id "010107127"}],
           :type "COM",
           :verification_status "N"},
     :IN2 {:employer_name [{:family {:surname "RETIRED"}, :id "0000007496"}],
           :home_phone [{:phone "(818)249-3361"}],
           :job_title "RETIRED",
           :marital_status [{:code "W"}],
           :publicity {:code "Y"},
           :race [{:code "C"}],
           :religion {:code "CHR"},
           :ssn "354221840"}}]}