{:MSH {nil "C",
       :ack_type "\r\nEVN",
       :app {:ns "AccMgr"},
       :app_ack_type "A01",
       :country "20151010045502",
       :datetime {:time "20151015200643"},
       :encoding "^~\\&",
       :facility {:ns "1"},
       :id "599102",
       :proc_id {:proc_id "P"},
       :separator "|",
       :seqnum "foo",
       :type {:code "ADT", :event "A01"},
       :version {:id "2.3"}}}