{:MSH {nil "F",
       :character_set ["PRELIM\nPID"],
       :control_id "30004",
       :datetime {:time "20111115200643"},
       :encoding "^~\\&",
       :principal_language {:code "1"},
       :processing_id {:processing_id "T"},
       :profile_identifier [{nil "VHH", :entity_identifier "160922"}],
       :receiving_application {:namespace_id "MS4OC"},
       :receiving_facility {:namespace_id "001"},
       :sending_application {:namespace_id "RISOC"},
       :sending_facility {:namespace_id "001"},
       :separator "|",
       :type {:code "ORU", :event "R01"},
       :version_id {:version_id "2.3"}}}