{:MSH {nil "P",
       :alt_charset "010107111^^^MS4^PN^",
       :app {:ns "RISOC"},
       :charset ["PRELIM\nPID"],
       :datetime {:time "20111115200643"},
       :encoding "^~\\&",
       :facility {:ns "001"},
       :id "30004",
       :language {:code "1"},
       :proc_id {:proc_id "T"},
       :profile [{nil "001", :identifier "160922", :type "MS4"}],
       :receiving_app {:ns "MS4OC"},
       :receiving_facility {:ns "001"},
       :separator "|",
       :type {:code "ORU", :event "R01"},
       :version {:id "2.3"}}}