{:MSH {nil "F",
       :app {:ns "RISOC"},
       :charset ["PRELIM\nPID"],
       :datetime {:time "20111115200643"},
       :encoding "^~\\&",
       :facility {:ns "001"},
       :id "30004",
       :language {:code "1"},
       :proc_id {:proc_id "T"},
       :profile [{nil "VHH", :identifier "160922"}],
       :receiving_app {:ns "MS4OC"},
       :receiving_facility {:ns "001"},
       :separator "|",
       :type {:code "ORU", :event "R01"},
       :version {:id "2.3"}}}