{:MSH {nil "No",
       :app {:ns "RADIANT"},
       :datetime {:time "20170726010022"},
       :encoding "^~\\&",
       :facility {:ns "EPIC"},
       :id "15837",
       :proc_id {:proc_id "T"},
       :receiving_app {:ns "IMG_UNLINK"},
       :receiving_facility {:ns "PHS IMG"},
       :security "CADENCEBATCHOB",
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version {:id "2.3"}}}