{:MSH {nil "HACKATHON",
       :control_id "94675",
       :datetime {:time "20170807103045"},
       :encoding "^~\\&",
       :processing_id {:processing_id "T"},
       :receiving_application {:namespace_id "IMG_ORDERED"},
       :receiving_facility {:namespace_id "VITAPHS"},
       :security "T834594",
       :sending_application {:namespace_id "VITARAD"},
       :sending_facility {:namespace_id "VITAEHR"},
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version_id {:version_id "2.3"}}}