{:MSH {:datetime {:time "2017-08-07T11:07:33"},
       :encoding "^~\\&",
       :id "9985",
       :proc_id {:proc_id "P"},
       :receiving_app {:ns "IMG_PROC_CHANGE_NEW"},
       :security "2478",
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version {:id "2.3"}},
 :order
   [{:ORC {:callback_phone [{:phone "(505)145-7896"}],
           :entered_by [{:family {:surname "JACKSON"},
                         :given "HANNAH",
                         :id "JACKHL6",
                         :initials "L."}],
           :enterer_location {:facility {:ns "505"},
                              :point_of_care "C DIAGNOSTIC"},
           :entering_organization {:code "5489464"},
           :filler_number {:identifier "4907631", :ns "VIT"},
           :id "NW",
           :placer_number {:identifier "125307696", :ns "VIT"},
           :provider [{:authority {:ns "VITAEHRPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "545787"}
                      {:authority {:ns "MIRRAEHRPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "54890"}
                      {:authority {:ns "VERAEHRPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "940B"}
                      {:authority {:ns "VERAEHRPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "J796"}
                      {:authority {:ns "GOLDENGATEPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "4608"}
                      {:authority {:ns "MEGAPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "5547"}
                      {:authority {:ns "VERAEHRPHYSICIAN"},
                       :family {:surname "JOSEPH"},
                       :given "SIMON",
                       :id "9804"}],
           :quantity_timing [{:priority "Routine",
                              :start {:time "2017-08-07T11:45:27"}}],
           :status "IP",
           :transaction_datetime {:time "2017-08-07T11:07:33"},
           :type {:code "I"}},
     :order_detail
       {:NTE [{:comment ["Reason for Exam:->test"], :set_id "1"}
              {:comment ["Have related studies been done elsewhere?->No"],
               :set_id "2"}],
        :obrrqdrq1rxoodsodt_suppgrp
          {:OBR {:callback_phone_number [{:phone "(505)145-7896"}],
                 :diagnostic_service "CR",
                 :filler_number {:identifier "4907631", :ns "VIT"},
                 :ordering_provider [{:authority {:ns "VITAEHRPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "545787"}
                                     {:authority {:ns "MIRRAEHRPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "54890"}
                                     {:authority {:ns "VERAEHRPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "940B"}
                                     {:authority {:ns "VERAEHRPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "J796"}
                                     {:authority {:ns "GOLDENGATEPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "4608"}
                                     {:authority {:ns "MEGAPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "5547"}
                                     {:authority {:ns "VERAEHRPHYSICIAN"},
                                      :family {:surname "JOSEPH"},
                                      :given "SIMON",
                                      :id "9804"}],
                 :placer_field_2 "C DIAGNOSTIC",
                 :placer_number {:identifier "125307696", :ns "VIT"},
                 :priority "Routine",
                 :procedure_code {:alternate_display "XC UGI AIR C",
                                  :code "RAD65894",
                                  :display "XC UGI AIR CONTRAST WITH KUB"},
                 :quantity_timing [{:priority "Routine",
                                    :start {:time "2017-08-07T11:45:27"}}],
                 :reason [{:display "test"}],
                 :requested_datetime {:time "2017-08-07T12:14:54"},
                 :scheduled_datetime {:time "2017-08-07T11:45:27"},
                 :set_id "1",
                 :specimen_action_code "Norm",
                 :status "IP",
                 :uid {:alternate_display "XC UGI AIR C",
                       :code "RAD65894",
                       :display "XC UGI AIR CONTRAST WITH KUB"}}}}}],
 :patient
   {:PID {:account_number {:id "45784511"},
          :address [{:city "FLATWOODS",
                     :country "US",
                     :postal_code "37096",
                     :state "TN",
                     :street {:text "987 KIWI ST"}}],
          :birth_date {:time "1978-06-03"},
          :gender "M",
          :home_phone [{:phone "(545)158-8980", :type "H"}],
          :identifiers [{:authority {:ns "VITAEHRMRN"}, :id "2154876421"}],
          :marital_status {:code "Single"},
          :name [{:family {:surname "RAD007C"}, :given "ROUNDONE"}],
          :race [{:code "WHITE"}],
          :set_id "1",
          :ssn_number "144-99-4458"},
    :patient_visit
      {:PV1 {:admit_datetime {:time "2017-08-06T15:02:16"},
             :assigned_patient_location {:facility {:ns "505"},
                                         :point_of_care "C DIAGNOSTIC"},
             :attending_doctor [{:authority {:ns "VITAEHRPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "545787"}
                                {:authority {:ns "MIRRAEHRPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "54890"}
                                {:authority {:ns "VERAEHRPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "940B"}
                                {:authority {:ns "VERAEHRPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "J796"}
                                {:authority {:ns "GOLDENGATEPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "4608"}
                                {:authority {:ns "MEGAPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "5547"}
                                {:authority {:ns "VERAEHRPHYSICIAN"},
                                 :family {:surname "JOSEPH"},
                                 :given "SIMON",
                                 :id "9804"}],
             :hospital_service "IMAGING",
             :patient_class "2",
             :visit_indicator "V",
             :visit_number {:id "100472852"}}}}}