{:MSH {nil "Have related studies been done elsewhere?->No",
       :datetime {:time "20170807110733"},
       :encoding "^~\\&",
       :id "9985",
       :proc_id {:proc_id "P"},
       :receiving_app {:ns "IMG_PROC_CHANGE_NEW"},
       :security "2478",
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version {:id "2.3"}}}