{:MSH {nil "Have related studies been done elsewhere?->No",
       :control_id "9985",
       :datetime {:time "20170807110733"},
       :encoding "^~\\&",
       :processing_id {:processing_id "P"},
       :receiving_application {:namespace_id "IMG_PROC_CHANGE_NEW"},
       :security "2478",
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version_id {:version_id "2.3"}}}