{:MSH {nil "HACKATHON",
       :app {:ns "VITARAD"},
       :datetime {:time "20170807103045"},
       :encoding "^~\\&",
       :facility {:ns "VITAEHR"},
       :id "94675",
       :proc_id {:proc_id "T"},
       :receiving_app {:ns "IMG_ORDERED"},
       :receiving_facility {:ns "VITAPHS"},
       :security "T834594",
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version {:id "2.3"}}}