{:MSH {nil "20110529130917-04:00",
       :ack_type "AL",
       :alt_charset "^^^^^Main Lab&05D0557149&CLIA",
       :app {:ns "LAb"},
       :app_ack_type "NE\r\nPID",
       :charset ["312626^^^^^Main Lab&05D0557149&CLIA"],
       :country "1",
       :datetime {:time "20100222024516"},
       :encoding "^~\\&",
       :facility {:ns "Lab"},
       :id "87226A1476977481",
       :language {:alternate_system "Main Lab&05D0557149&CLIA",
                  :code "0362855"},
       :proc_id {:proc_id "P"},
       :profile [{:identifier "LOPEZ", :ns "ADALBERTO"}],
       :receiving_app {:ns "Lab"},
       :receiving_facility {:ns "Lab"},
       :separator "|",
       :seqnum "2010022217399",
       :type {:code "ORU", :event "R30"},
       :version {:id "2.4"}}}