{:MSH {:ack_type "AL",
       :app {:ns "LAb"},
       :app_ack_type "NE",
       :datetime {:time "20100222024516"},
       :encoding "^~\\&",
       :facility {:ns "Lab"},
       :id "87226A1476977481",
       :proc_id {:proc_id "P"},
       :receiving_app {:ns "Lab"},
       :receiving_facility {:ns "Lab"},
       :separator "|",
       :seqnum "2010022217399",
       :type {:code "ORU", :event "R30"},
       :version {:id "2.4"}},
 :NTE [{:set_id "1", :type {:code "Sample Type=MIX"}}
       {:set_id "2", :type {:code "CPB=Yes"}}],
 :OBR {:set_id "1", :uid {:code "CHEM8+"}},
 :ORC {:entering_device
         {:alternate_code "Med Surg-6", :code "L7173SB00037", :system "VHH"},
       :id "NW"},
 :PID {:account_number {:id "000016715153"},
       :address [{:city "SUNLAND",
                  :postal_code "91040",
                  :state "CA",
                  :street {:text "8753 APPERSON ST"}}],
       :alternate_id [{:facility
                         {:ns "Main Lab", :type "CLIA", :uid "05D0557149"}}],
       :birth_date {:time "19450409"},
       :gender "M",
       :home_phone [{:phone "(818)429-5631"}],
       :identifiers [{:facility
                        {:ns "Main Lab", :type "CLIA", :uid "05D0557149"},
                      :id "0362855"}],
       :name [{:family {:surname "LOPEZ"}, :given "ADALBERTO"}],
       :patient_id {:facility {:ns "Main Lab", :type "CLIA", :uid "05D0557149"},
                    :id "312626"},
       :set_id "1",
       :ssn_number "572458313"},
 :observation
   [{:OBX {:analysis_datetime {:time "20120529130917-04:00"},
           :equipment_identifier [{:identifier "equipment"}],
           :interpretation ["N"],
           :responsible_observer [{:id "APOC3214"}],
           :set_id "1",
           :site [{:code "MIX"}],
           :status "F",
           :type {:code "8625-6", :display "P-R interval", :system "LN"},
           :units {:code "%PCV"},
           :value ["<10"],
           :value_type "NM"}}
    {:OBX {:observation_datetime {:time "20150529130917-04:00"},
           :responsible_observer [{:id "APOC3214"}],
           :set_id "2",
           :site [{:code "MIX"}],
           :status "F",
           :type {:code "41651-1", :display "date", :system "LN"},
           :units {:code "mg/dL"},
           :value ["20110529130917-04:00"],
           :value_type "DT"}}
    {:OBX {:analysis_datetime {:time "20110529130917-04:00"},
           :responsible_observer [{:id "APOC3214"}],
           :set_id "3",
           :site [{:code "MIX"}],
           :status "F",
           :type {:code "45541-1", :display "GJU", :system "LN"},
           :value ["100500 mm"],
           :value_type "ST"}}
    {:NTE [{:comment ["DSN=314237"], :set_id "1"}
           {:comment ["HCT=LOW"], :set_id "2"}],
     :OBX {:analysis_datetime {:time "20110529130917-04:00"},
           :responsible_observer [{:id "APOC3214"}],
           :set_id "4",
           :site [{:code "MIX"}],
           :status "F",
           :type {:code "45541-1", :display "GJU", :system "LN"},
           :value ["43434-1^8890 jkjsdfk^BV"],
           :value_type "CE"}}]}