{:MSH {:app {:ns "VITAEHR"},
       :datetime {:time "20170808145105"},
       :encoding "^~\\&",
       :id "12052",
       :proc_id {:proc_id "T"},
       :receiving_facility {:ns "VITALAB"},
       :security "M1026545",
       :separator "|",
       :type {:code "SIU", :event "S12"},
       :version {:id "2.3"}},
 :SCH {:appointment_duration "5",
       :appointment_duration_units {:code "MIN"},
       :appointment_reason {:display "CC LAB"},
       :appointment_timing_quantity [{:start {:time "20170808145500"}}],
       :entered_by_person [{:family {:surname "DALVI"},
                            :given "SOFIA",
                            :id "M1026545",
                            :initials "E"}],
       :event_reason {:code "Sch"},
       :filler_appointment_id {:identifier "30124578745"},
       :filler_contact_person [{:family {:surname "DALVI"},
                                :given "SOFIA",
                                :id "M1026545",
                                :initials "E"}],
       :filler_status_code {:code "Sch"},
       :placer_contact_address [{:city "PORT TOWNSEND",
                                 :postal_code "98368",
                                 :state "TN",
                                 :street {:text "541 SHERIDAN"}}],
       :placer_contact_person [{:family {:surname "DALVI"},
                                :given "SOFIA",
                                :id "M1026545",
                                :initials "E"}]},
 :patient
   [{:PID {:address [{:country "USA", :type "P"}],
           :birth_date {:time "19810603"},
           :death_indicator "N",
           :gender "F",
           :identifiers [{:id "F2658", :type "VIT"}
                         {:authority {:ns "VITALAB MRN"},
                          :id "20146159444",
                          :type "VITALAB MRN"}],
           :name [{:family {:surname "DURAN"}, :given "CAMILA"}],
           :set_id "1",
           :ssn_number "765-66-2890"},
     :PV1 {:assigned_patient_location {:facility {:ns "VITALAB"},
                                       :point_of_care "VITALAB"},
           :patient_class "Outpatient",
           :visit_number {:id "30124578745"}}}],
 :resources
   [{:RGS {:resource_group_id {:code "32075914411", :display "VITALAB"},
           :set_id "1"},
     :general_resource [{:AIG {:duration "5",
                               :duration_units {:code "MIN"},
                               :resource_id {:display "CC WJH LAB"},
                               :resource_type {:code "2", :display "RESOURCE"},
                               :set_id "1",
                               :start_datetime {:time "20170808145500"},
                               :start_datetime_offset "0",
                               :start_datetime_offset_units {:code "MIN"}}}],
     :service [{:AIS {:__errors ["Field AIS.3 is required"],
                      :filler_status_code {:code "Sch"},
                      :set_id "1"}}]}]}