{:MSH {nil "MIN",
       :app {:ns "VITAEHR"},
       :datetime {:time "20170808145105"},
       :encoding "^~\\&",
       :id "12052",
       :proc_id {:proc_id "T"},
       :receiving_facility {:ns "VITALAB"},
       :security "M1026545",
       :separator "|",
       :type {:code "SIU", :event "S12"},
       :version {:id "2.3"}}}