{:MSH {nil "MIN",
       :app {:ns "VITAEHRSCH"},
       :datetime {:time "20170807092319"},
       :encoding "^~\\&",
       :facility {:ns "VIT"},
       :id "60235",
       :proc_id {:proc_id "T"},
       :receiving_app {:ns "VITAEH"},
       :receiving_facility {:ns "VIT"},
       :security "BARLLH1",
       :separator "|",
       :type {:code "SIU", :event "S12"},
       :version {:id "2.3"}}}