{:MSH {:app {:ns "VITAEHRSCH"},
       :datetime {:time "20170807092319"},
       :encoding "^~\\&",
       :facility {:ns "VIT"},
       :id "60235",
       :proc_id {:proc_id "T"},
       :receiving_app {:ns "VITAEH"},
       :receiving_facility {:ns "VIT"},
       :security "BARLLH1",
       :separator "|",
       :type {:code "SIU", :event "S12"},
       :version {:id "2.3"}},
 :SCH {:appointment_duration "30",
       :appointment_duration_units {:code "MIN"},
       :appointment_timing_quantity [{:start {:time "20170806123654"}}],
       :entered_by_person [{:family {:surname "BARLOW"},
                            :given "LOUIS",
                            :id "BARLLH1",
                            :initials "H."}],
       :event_reason {:code "BOOKED"},
       :filler_appointment_id {:identifier "244175838"},
       :filler_contact_person [{:family {:surname "BARLOW"},
                                :given "LOUIS",
                                :id "BARLLH1",
                                :initials "H."}],
       :filler_status_code {:code "BOOKED"},
       :placer_appointment_id {:identifier "244175838"},
       :placer_contact_address [{:street {:text
                                            "GREECE VITAEHR PATIENT BUSINESS"},
                                 :text "SR HEALTHCARE DATA ANALYST VITAEHR"}],
       :placer_contact_person [{:family {:surname "BARLOW"},
                                :given "LOUIS",
                                :id "BARLLH1",
                                :initials "H."}]},
 :patient
   [{:PID {:address [{:city "BANANA VALLEY",
                      :country "US",
                      :county "ALEXANDRIA",
                      :postal_code "37012",
                      :state "TN",
                      :street {:text "876 HILL"}}],
           :birth_date {:time "19490512"},
           :county_code "ALEXANDRIA",
           :death_indicator "N",
           :gender "M",
           :home_phone [{:area_city "299",
                         :local_number "7785327",
                         :phone "(299)778-5327",
                         :type "H"}],
           :identifiers [{:authority {:ns "VITAEHRMRN"}, :id "1364958346"}],
           :name [{:family {:surname "UPGRADETEST"}, :given "CPAP"}],
           :set_id "1",
           :ssn_number "282-15-8775"},
     :PV1 {:assigned_patient_location {:facility {:ns "810"},
                                       :point_of_care "NGDC SLEEP MED LAB"},
           :patient_class "O"}}],
 :resources
   [{:RGS {:resource_group_id {:code "8223374", :display "NGDC SLEEP MED LAB"},
           :set_id "1"},
     :personnel_resource
       [{:AIP {:duration "30",
               :duration_units {:code "MIN"},
               :personnel_resource_id [{:authority {:ns "VITAEHRPHYSICIAN"},
                                        :family {:surname "Larson"},
                                        :given "Juliana",
                                        :id "107525",
                                        :initials "W"}
                                       {:authority {:ns "VERAEHRPHYSICIAN"},
                                        :family {:surname "Larson"},
                                        :given "Juliana",
                                        :id "2365",
                                        :initials "W"}
                                       {:authority {:ns "MEGAPHYSICIAN"},
                                        :family {:surname "Larson"},
                                        :given "Juliana",
                                        :id "1258",
                                        :initials "W"}],
               :resource_type {:code "650", :display "MD"},
               :set_id "1",
               :start_datetime {:time "20170806123654"},
               :start_datetime_offset "0",
               :start_datetime_offset_units {:code "MIN"}}}],
     :service [{:AIS {:filler_status_code {:code "BOOKED"},
                      :set_id "1",
                      :universal_service_identifier
                        {:code "495857", :display "CPAP FOLLOW UP"}}}]}]}