{:MSH {nil "MIN",
       :app {:ns "VITAEHR"},
       :datetime {:time "20170807115912"},
       :encoding "^~\\&",
       :id "77856",
       :proc_id {:proc_id "T"},
       :receiving_facility {:ns "ORCA"},
       :security "P193590",
       :separator "|",
       :type {:code "SIU", :event "S12"},
       :version {:id "2.3"}}}