{:MSH {:app {:ns "VITAEHR"},
       :datetime {:time "20170807115912"},
       :encoding "^~\\&",
       :id "77856",
       :proc_id {:proc_id "T"},
       :receiving_facility {:ns "ORCA"},
       :security "P193590",
       :separator "|",
       :type {:code "SIU", :event "S12"},
       :version {:id "2.3"}},
 :SCH {:appointment_duration "60",
       :appointment_duration_units {:code "MIN"},
       :appointment_reason {:code "OMD PSG", :display "OMD SLP PSG"},
       :appointment_timing_quantity [{:start {:time "20170810090000"}}],
       :entered_by_person [{:family {:surname "BARLOW"},
                            :given "LOUIS",
                            :id "P193590",
                            :initials "H"}],
       :event_reason {:code "Sch"},
       :filler_appointment_id {:identifier "42020245764"},
       :filler_contact_person [{:family {:surname "BARLOW"},
                                :given "LOUIS",
                                :id "P193590",
                                :initials "H"}],
       :filler_status_code {:code "Sch"},
       :placer_contact_person [{:family {:surname "BARLOW"},
                                :given "LOUIS",
                                :id "P193590",
                                :initials "H"}]},
 :patient
   [{:PID {:address [{:country "USA", :type "P"}],
           :birth_date {:time "19590531"},
           :death_indicator "N",
           :gender "M",
           :identifiers [{:id "F56025", :type "VIT"}
                         {:authority {:ns "ORCA MRN"},
                          :id "54620010444",
                          :type "ORCA MRN"}],
           :name [{:family {:surname "VITARESMED"}, :given "SIX"}],
           :set_id "1",
           :ssn_number "458-55-7402"},
     :PV1 {:assigned_patient_location {:facility {:ns "OMD"},
                                       :point_of_care "OMD SLP CTR"},
           :patient_class "O",
           :visit_number {:id "42020245764"}}}],
 :resources
   [{:RGS {:resource_group_id {:code "46040656665",
                               :display "SANFORD CENTER FOR SLEEP DISORDERS"},
           :set_id "1"},
     :general_resource [{:AIG {:duration "60",
                               :duration_units {:code "MIN"},
                               :resource_id
                                 {:code "5464646",
                                  :display "SANFORD CENTER SLEEP LAB ROOM 1",
                                  :system "PPID"},
                               :resource_type {:code "2", :display "RESOURCE"},
                               :set_id "1",
                               :start_datetime {:time "20170810090000"},
                               :start_datetime_offset "0",
                               :start_datetime_offset_units {:code "MIN"}}}],
     :service [{:AIS {:filler_status_code {:code "Sch"}, :set_id "1"}}]}]}