{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.0"}
         cheshire            {:mvn/version "5.6.3"}}

 :aliases
 {:nrepl
  {:extra-paths ["dev" "schema"]
   :extra-deps {org.clojure/clojure           {:mvn/version "1.10.0"}
                cider/cider-nrepl             {:mvn/version "0.21.0"}
                clj-commons/clj-yaml           {:mvn/version "0.7.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "2.4.0"}
                healthsamurai/matcho           {:mvn/version "0.3.3"}

                com.cognitect/test-runner     {:git/url "https://github.com/cognitect-labs/test-runner"
                                               :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}}

  :test {:extra-paths ["test"]}

  :runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha     "78d380d00e7a27f7b835bb90af37e73b20c49bcc"}}
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}}}
