{:MSH {:app {:ns "VITARAD"},
       :datetime {:time "20170807103045"},
       :encoding "^~\\&",
       :facility {:ns "VITAEHR"},
       :id "94675",
       :proc_id {:proc_id "T"},
       :receiving_app {:ns "IMG_ORDERED"},
       :receiving_facility {:ns "VITAPHS"},
       :security "T834594",
       :separator "|",
       :type {:code "ORM", :event "O01"},
       :version {:id "2.3"}},
 :order
   [{:ORC {:call_back_phone_number [{:phone "(768)123-5477"}],
           :datetime_of_transaction {:time "20170807103045"},
           :entered_by [{:family {:surname "RAMAIRE"},
                         :given "JAMES",
                         :id "T834594",
                         :initials "R"}],
           :enterer_authorization_mode {:value "VERBAL WITH"},
           :enterer_location {:facility {:ns "765673"},
                              :location_description "HOUSE OF CHARITY CLINIC",
                              :point_of_care "HOUSE OF CHARITY CLINIC"},
           :filler_order_number {:identifier "2134659PHS", :ns "VIT"},
           :order_control "NW",
           :order_type {:value "O"},
           :ordering_provider [{:authority {:ns "VITAEHR"},
                                :family {:surname "ACCURSIO"},
                                :given "JARVIS",
                                :id "3453453455",
                                :id_type "PNPI",
                                :initials "STEPHEN"}
                               {:authority {:ns "VITAPID"},
                                :family {:surname "ACCURSIO"},
                                :given "JARVIS",
                                :id "3432212",
                                :id_type "PPID",
                                :initials "STEPHEN"}],
           :placer_order_number {:identifier "88946", :ns "VIT"},
           :quantity_timing [{:priority "R", :start {:time "20170805164534"}}]},
     :order_detail
       {:DG1 [{:diagnosis_code_dg1
                 {:code "J84.89",
                  :system "ICD-10-CM",
                  :text
                    "Other specified interstitial pulmonary diseases (HCC)"},
               :diagnosis_coding_method "ICD-10-CM",
               :diagnosis_description
                 "Other specified interstitial pulmonary diseases (HCC)",
               :diagnosis_type "^147;ORD",
               :set_id "1"}],
        :obrrqdrq1rxoodsodt_suppgrp
          {:OBR {:filler_order_number {:identifier "2134659PHS", :ns "VIT"},
                 :order_callback_phone_number [{:phone "(768)123-5477"}],
                 :ordering_provider [{:authority {:ns "VITAEHR"},
                                      :family {:surname "ACCURSIO"},
                                      :given "JARVIS",
                                      :id "3453453455",
                                      :id_type "PNPI",
                                      :initials "STEPHEN"}
                                     {:authority {:ns "VITAPID"},
                                      :family {:surname "ACCURSIO"},
                                      :given "JARVIS",
                                      :id "3432212",
                                      :id_type "PPID",
                                      :initials "STEPHEN"}],
                 :placer_order_number {:identifier "88946", :ns "VIT"},
                 :priority_obr "R",
                 :quantity_timing [{:priority "R",
                                    :start {:time "20170805164534"}}],
                 :reason_for_study [{:text "HACKATHON"}],
                 :requested_datetime {:time "20170806"},
                 :scheduled_datetime {:time "20170805164534"},
                 :set_id "1",
                 :specimen_action_code "Imaging",
                 :universal_service_identifier {:alternate_text "XR",
                                                :code "IMG34",
                                                :system "VITARAD EAP",
                                                :text "XR CHEST PA OR AP"}}},
        :observation [{:OBX {:set_id "1",
                             :type {:code "ITS.REAS", :text "Reason for exam:"},
                             :value ["HACKATHON"],
                             :value_type "ST"}}]}}],
 :patient
   {:PD1 {:patient_primary_care_provider_name_id_no_
            [{:authority {:ns "VITAEHR"},
              :family {:surname "FISCHER"},
              :given "FRANKLIN",
              :id "7898456546",
              :id_type "PNPI",
              :initials "J"}
             {:authority {:ns "BEST MEDICAL AND REHABILITATION CENTER"},
              :family {:surname "FISCHER"},
              :given "FRANKLIN",
              :id "32859",
              :id_type "BEST MEDICAL AND REHABILITATION CENTER",
              :initials "J"}
             {:authority {:ns "VITAPID"},
              :family {:surname "FISCHER"},
              :given "FRANKLIN",
              :id "9574564",
              :id_type "PPID",
              :initials "J"}],
          :patient_primary_facility [{:id "456545",
                                      :name "MSP FORESIGHT SAINT NICOLE"}]},
    :PID {:account_number {:id "48324732444"},
          :address [{:city "CLARKSVILLE",
                     :country "USA",
                     :county "CLARKSVILLE",
                     :postal_code "37054",
                     :state "TN",
                     :street {:text "999 HIGH ST"},
                     :type "P"}],
          :birth_date {:time "19730616"},
          :county_code "CLARKSVILLE",
          :gender "F",
          :home_phone [{:phone "(562)555-5656", :type "H", :use "P"}],
          :identifiers [{:id "R574", :type "VIT"}
                        {:authority {:ns "N VITA MRN"},
                         :id "VI34572834",
                         :type "N VITA MRN"}
                        {:authority {:ns "VITALAB MRN"},
                         :id "45120080724",
                         :type "VITALAB MRN"}],
          :name [{:family {:surname "BURNETT"}, :given "MARGARET"}],
          :patient_id {:authority {:ns "VITALAB MRN"},
                       :id "45120080724",
                       :type "VITALAB MRN"},
          :set_id "1"},
    :patient_visit {:PV1 {:assigned_patient_location {:facility {:ns "TN058"},
                                                      :point_of_care
                                                        "PMG EWA HOC"},
                          :patient_class "O",
                          :visit_indicator "V",
                          :visit_number {:id "48324732444"}}}}}