{:MSH {nil "20110529130917-04:00",
       :accept_acknowledgment_type "AL",
       :alternate_character_set_handling_scheme "^^^^^Main Lab&05D0557149&CLIA",
       :application_acknowledgment_type "NE\r\nPID",
       :character_set ["312626^^^^^Main Lab&05D0557149&CLIA"],
       :control_id "87226A1476977481",
       :country_code "1",
       :datetime {:time "20100222024516"},
       :encoding "^~\\&",
       :principal_language {:alternate_system "Main Lab&05D0557149&CLIA",
                            :code "0362855"},
       :processing_id {:processing_id "P"},
       :profile_identifier [{:entity_identifier "LOPEZ",
                             :namespace_id "ADALBERTO"}],
       :receiving_application {:namespace_id "Lab"},
       :receiving_facility {:namespace_id "Lab"},
       :sending_application {:namespace_id "LAb"},
       :sending_facility {:namespace_id "Lab"},
       :separator "|",
       :sequence_number "2010022217399",
       :type {:code "ORU", :event "R30"},
       :version_id {:version_id "2.4"}}}